#nav {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 6rem;
    background-color: #002333;
    position: sticky;
    z-index: 1;
    top: 0;
}

#navBar__logo {
    width: 60px;
}

ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    align-items: center;
}

ul li {
    color: whitesmoke;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: color .25s;
}

ul li:not(:last-child):hover {
    color: #159a9c;
}

ul li:last-child {
    position: fixed;
    right: 3rem;
    border: 2px solid whitesmoke;
    padding: 10px;
    border-radius: 5px;
    background-color: #159a9c54;
    transition: background-color .35s;
}

ul li:last-child:hover {
    background-color: #159a9ca2;
}