#main__newPost-Container {
    height: 100vh;
    width: 100%;
}

#newPost__Container {
    display: flex;
    justify-content: center;
}

#newPost {
    margin-top: 2.8rem;
    width: 550px;
    border: 1px solid black;
    box-shadow: 0 0 25px gray;
    animation: posts-Loading .35s;
    height: 450px;
}

#newpost__Container-Header {
    background-color: #002333ea;
}

.newpost__container-Header-text {
    color: whitesmoke;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

#newPost__Header {}

#newPost__separator {
    content: '';
    height: .5px;
    width: 100%;
    background-color: #002333ea;
    box-shadow: 0 0 20px gray;
}

#newPost__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.post__input {}

label {}

.post__fields-title {
    background-color: transparent;
    height: 35px;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: .75px solid #002333ea;
    outline: none;
}

.post__fields-title:focus {
    border : none;
    box-shadow: 0 0 5px #159a9cd8;
}

.post__fields-body {
    background-color: transparent;
    height: 35px;
    width: 400px;
    padding : 15px 0 0 10px;
    border-radius: 5px;
    height: 200px;
    border: .75px solid black;
    outline: none;
    resize: none;
    font-size : 14px;
    font-weight : 400;
}

.post__fields-body:focus {
    border : none;
    box-shadow: 0 0 5px #159a9cd8;
}

#newPost__Body {}

#newPost__Footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#newPost__submitButton {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: #002333ea;
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    transition: background-color .5s;
}

#newPost__submitButton:hover {
    background-color: #002333cc;
}

.post-textArea {
    background-color: transparent;
}